### JetBrains - Developer Tools for Professionals and Teams
.idea/

### Visual Studio Code - Code Editing - Redefined
.vscode/

### Operating System
.DS_Store

### Terraform - Safely and Predictably Create, Change, and Improve Infrastructure
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
